package-manager=pnpm@9
prefer-frozen-lockfile=true
prefer-offline=true
offline=false
fetch-timeout=60000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
registry=https://registry.npmjs.org/
strict-peer-dependencies=false
node-linker=isolated
ignore-scripts=true
fetch-retries=3
virtual-store-dir=.pnpm
